@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*>* {
  font-family: 'Poppins', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.input-text {
 @apply mt-1 block w-60 px-3 py-2 bg-white border border-slate-300 rounded-full text-sm shadow-sm placeholder-slate-500;
 @apply focus:outline-none focus:border-sky-500 focus:ring-1 focus:ring-sky-300 ;
}

body::-webkit-scrollbar{
  width: 10px;
}

body::-webkit-scrollbar-track{
  background-color: #fafafa;
}

body::-webkit-scrollbar-thumb{
  background-image: linear-gradient(90deg, rgba(0,36,26,1) 0%, rgba(0,144,17,0.44075829383886256) 0%, rgba(141,214,156,1) 49%, rgba(217,240,255,1) 100%);
  border-radius: 50px;
}

.circle-loading {
  width: 50px;
  height: 50px;
  border-radius: 99rem;
  position: relative;
  margin: 0 auto;
}

.circle-loading:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  border: 4px solid transparent;
  border-right-color: #ff6bcb;
  border-bottom-color: #ffa400;
  animation: circleLoading 1s forwards infinite linear;
}

@keyframes circleLoading {
  to {
    transform: rotate(360deg);
  }
}


